/* reset rules adapted from https://piccalil.li/blog/a-modern-css-reset/ */
/* grid rules adapted from https://codepen.io/MattWindle/pen/perZRG */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #f5ecdc;
}

.container {
  margin: 20px auto;
  width: 90%;
  padding: 20px;
  border: 1px solid #782e59;
  align-items:start;
  background-color:#f5ecdc;
  display:grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto auto 10% 10%;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
  
.box {
    background-color:#f5ecdc;
    display:flex;
    align-items:center;
    justify-content:center;
    border: 1px solid #782e59;
    height: 150px;
    width: 100%;
}

.box:hover {
	border: 1px solid #fff;
    background-color:#fcf5e8;
}

.text {
	grid-row: 1 / 5;
	grid-column: 5 / span 2;
	color: #782e59;
    align-items:start;
}

audio {
	filter: contrast(50%) invert(60%);
	width: 100%;
	height: 100%;
	}

h1 {
	font-family: Palatino, serif;
}	

p {
	font-family: Cabin, sans-serif;
	margin-bottom: 2em;
}

